body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: white 3px solid;
  opacity: 0.8; }

#HomeSection {
  background: url("../img/home.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #HomeSection .dark-overlay {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #HomeSection .home-inner {
    padding-top: 150px; }
  #HomeSection .card-form {
    opacity: 0.8; }
  #HomeSection .fa {
    color: black;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .fa, #share-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: black;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
